* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
}

article {
  margin: 50px;
}

h2 {
  border-bottom: 1px solid #ffffff;
}

h2, h3 {
  margin: 0;
  padding: 15px 0;
}

p {
  margin-left: 10px;
  padding: 1em 0;
  text-align: left;
  font-size: 110%;
}

/*
.main_nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  
  list-style: none;
  margin: 0;
  background: #80ccff;
}

.main_nav ul a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #ffffff;
}

.main_nav a:hover {
  background: #33adff;
}

@media all and (max-width: 800px) {
  .main_nav ul {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .main_nav ul {
    flex-flow: column wrap;
    padding: 0;
  }
  
  .main_nav a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .main_nav li:last-of-type a {
    border-bottom: none;
  }
}

*/

/* Navigation */

/*
nav {
  
  width: 100%;
  background-color: #4da6ff;
  padding-left: 30px;
  padding-right: 10px;
  
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  
  list-style: none;
  margin: 0;
  background: #4da6ff;
}

.logo {
  display: inline-block;
  margin-left: 25px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #ffffff;
}

.nav-links {
  list-style: none;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: #ffffff;
}

.nav-item:hover {
  background-color: #fff;
}

.nav-item:hover a {
  color: #4da6ff;
}
*/

/*
.logo img {
  width: 110.6px;
  height: 20.3;
  vertical-align: middle;
}
*/

/*
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
}
*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #45A29E;
}

.logo {
  margin: 0 0 0 20px;
}

.logo a {
  color: #ffffff;
}

.logo, .nav-links {
  list-style: none;
  text-transform: uppercase;
}

.logo a, .nav-links a {
  text-decoration: none;
  letter-spacing: 5px;
}

.nav-links {
  display: flex;
}

.nav-links a {
  display: block;
  padding: 10px 15px;
  color: #ffffff;
}

.nav-links a:hover {
  background-color: #ffffff;
  color: #45A29E;
}

/* Media queries for navbar */
@media all and (max-width: 990px) {
  .navbar {
    flex-direction: column;
  }
  
  .logo {
  margin: 0;
}
  
  .nav-links  {
    width: 100%;
    justify-content: space-around;
  }
}

/* Media queries for navbar */
@media all and (max-width: 990px) {
  .navbar {
    flex-direction: column;
  }
  
  .logo {
  margin: 0;
}
  
  .nav-links  {
    width: 100%;
    justify-content: space-around;
  }
}

/* Media queries for navbar */
@media all and (max-width: 600px) {
 
  .logo {
    margin: .25em 0;
    align-self: left; /* align the logo to the left side of 'flex-container' */
}
  
  .nav-links {
    flex-direction: column;
  }
  
  .nav-links a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }
  
  .nav-links li:last-of-type a {
    border-bottom: none;
  }
}

/* Sidebar links */
.side-links {
  list-style: none;
}

.side-item {
  padding: 10px 0 10px 0;
}

.side-item a {
  text-decoration: none;
  color: #ffffff;
}

.side-item a:hover {
text-decoration: underline;
}

.main-header {
  grid-area: header;
}

.main-content {
  grid-area: content;
  background: #1f2833;
}

.side {
  grid-area: sidebar;
  background: #1f2833;
}

.main-footer {
  grid-area: footer;
  background: #45A29E;
}

.side-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.wrapper {
  display: grid;
/*  grid-gap: 10px;*/
  grid-template-areas: 
    "header"
    "content"
    "sidebar"
    "footer";
}

figure {
  padding: 0 10px 10px 10px;
}

  .ordered {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  text-align: left;
  }

  .ordered li {
  padding-top: 10px;
  }

  section {
    margin: 0 25px 0 25px;
  }

  .images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

/* Media queries for all document */

@media (min-width: 600px) {
  .wrapper {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
      "header     header"
      "content     content"
      "sidebar     sidebar"
      "footer    footer";
  }
}

@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-areas: 
      "header header  header"
      "content  content  sidebar"
      "content  content sidebar"
      "footer footer  footer"
   }
/*
  .logo img {
    width: 150.6px;
    height: 32.3px;
    vertical-align: middle;
  }
  .nav-item a {
    display: inline-block;
    padding: 10px 50px;
    text-decoration: none;
    color: #ffffff;
  }
*/
  .side-links {
  display: grid;
  grid-template-columns: 1fr;
  }
  article {
  margin: 0 25px 0 25px;
  }
  .footer li {
  display: flex;
  flex-direction: column;
  /*
    border-bottom: 1px solid #ffffff;
    width: 20%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  */
  }
  .footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding: 10px 10px 10px 0;
}

  .footer li {
    white-space: nowrap;
}

  .footer li:nth-last-child(4) {
    flex: 1;
    text-align: left;
    padding-top: 5px;
  }
    .ordered {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
   grid-gap: 0;
  }
}

/* Footer */

  ul.footer li {
    display: inline;
    margin: 0 15px 0 15px;
  }

  .fi {
    color: #ffffff;
    text-decoration: none;
  }

  .footer li:nth-last-child(4) {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  /*
    border-bottom: 1px solid #ffffff;
    width: 20%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  */
  }

/* Table style */

table, td, th {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0 20px 0;
}